<mat-card class="card-base" [id]="'card-base-' + identificador">
  <mat-card-header [id]="'cabecalho-card-' + identificador">
    @if (avatarUrl || icone) {
    <div mat-card-avatar class="container-avatar" [id]="'container-avatar-' + identificador">
      @if (avatarUrl) {
      <img [src]="avatarUrl" alt="Avatar do item" [id]="'img-avatar-' + identificador" />
      } @else {
      <mat-icon [id]="'icone-avatar-' + identificador">{{ icone }}</mat-icon>
      }
    </div>
    }

    <mat-card-title [id]="'titulo-card-' + identificador">{{ titulo }}</mat-card-title>

    @if (subtitulo) {
    <mat-card-subtitle [id]="'subtitulo-card-' + identificador">{{ subtitulo }}</mat-card-subtitle>
    }

    <span class="espacador"></span>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [id]="'btn-abrir-acoes-' + identificador"
      type="button"
      aria-label="Opções do cartão"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="aoEditar()" [id]="'btn-acao-editar-' + identificador">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="aoExcluir()" [id]="'btn-acao-excluir-' + identificador">
        <mat-icon color="warn">delete</mat-icon>
        <span>Excluir</span>
      </button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content [id]="'conteudo-card-' + identificador">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
