.form-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 4px 0;

  mat-form-field {
    width: 100%;
  }

  #checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 16px;

    button {
      color: var(--mat-sys-primary);
    }
  }
}
